ol h5{
    background-color: blanchedalmond;
    padding: 13px;
    border-radius: 20px;
}
span{
    color: chocolate;
    font-size: 20px;
}
li img{
    border-radius: 20px;
    width: 200px;
    height: 250px;
}
.bob{
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 18px grey;
    background: lightblue;
}
.bob3{
    text-align: center;
    color: white;
}
h4{
    color: blue;
    font-size: 18px;
    text-align: center;
    font: bold;
}
b{
    color: brown;
}